{% include 'navbar.html' %}
<br/><br/>
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Employee</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{len(data.keys())}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total present employee</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{len(presents)}}</div>
              </div>

            </div>
          </div>
        </div>
      </div>
       <!-- Pending Requests Card Example -->
       <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Absent Employees</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{len(data.keys())-len(presents)}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="h3 mb-2 text-gray-800">Records of {{ date }}</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Total entries</th>
                            <th>Total exits</th>
                            <th>Total Hours</th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for k, records in data.items() %}
                          <tr>
                            <!-- <td rowspan="{{max(len(records['entry']), len(records['exit']))}}">{{ k }}</td> -->
                            <td>{{k}}</td>

                            {% if k in presents %}
                                <td>{{records[date]["entries"]}}</td>
                                <td>{{records[date]["exits"]}}</td>
                                <td>{{records[date]["hours_in_office"]}}</td>
                            {% else %}
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            {% endif %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <h1 class="h3 mb-2 text-gray-800">Change the Date</h1>
                <form action="/view_date" method="post">
                    <input type="date"class="form-control form-control-user" id="date" name="date"
                           value="{{ request.form.date | default(date) }}" 
                           min="2020-01-01" max="2030-12-31">
                    <input type="submit"class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" value="Submit">
                </form>
</div>


<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="static/js/demo/datatables-demo.js"></script>

</body>
</html>