{% include 'navbar.html' %}


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <br/><br/>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-2 text-gray-800">Records of {{username}}</h1>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Employee info</a>
                </div>
                
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>entry times</th>
                            <th>exit times</th>
                            <th>Total entries</th>
                            <th>Total exits</th>
                            <th>Total Hours</th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for k, records in data.items() %}
                          <tr>
                            <!-- <td rowspan="{{max(len(records['entry']), len(records['exit']))}}">{{ k }}</td> -->
                            <td>{{k}}</td>
                            <td>{% for entr in records["entry"] %}
                                    <a href={{"/show_record_img/"+k+"T"+entr+"?type=entry"}}>{{entr}}</a>
                                    <hr class="sidebar-divider d-none d-md-block">
                                {% endfor %}
                            </td>
                            <td>{% for entr in records["exit"] %}
                              <a href={{"/show_record_img/"+k+"T"+entr+"?type=entry"}}>{{entr}}</a>
                                    <hr class="sidebar-divider d-none d-md-block">
                                {% endfor %}
                            </td>
                          <td>{{summ_data[k]["entries"]}}
                          </td>
                          <td>{{summ_data[k]["exits"]}}
                          </td>
                          <td>{{summ_data[k]["hours_in_office"]}}
                          </td>
                          
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
      
              </div>
              <!-- /.container-fluid -->
      
            </div>
            

  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="static/js/demo/datatables-demo.js"></script>

</body>
</html>