{% include 'navbar.html' %}


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <br/><br/>
                <h1 class="h3 mb-2 text-gray-800">User Records</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>entry times</th>
                            <th>exit times</th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for k, records in data.items() %}
                          <tr>
                            <!-- <td rowspan="{{max(len(records['entry']), len(records['exit']))}}">{{ k }}</td> -->
                            <td>{{k}}</td>
                            <td>{% for entr in records["entry"] %}
                                    {{entr}}
                                    <hr class="sidebar-divider d-none d-md-block">
                                {% endfor %}
                            </td>
                            <td>{% for entr in records["exit"] %}
                                    {{entr}}
                                    <hr class="sidebar-divider d-none d-md-block">
                                {% endfor %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
      
              </div>
              <!-- /.container-fluid -->
      
            </div>
            

  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="static/js/demo/datatables-demo.js"></script>

</body>
</html>